body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.components {
  height: 100vh;
  margin-left: 15rem;
}

.sidebar {
  width: 15rem;
  height: 100vh;
  z-index: 1;
  padding-top: 5rem;
  position: fixed;
  background: #0f1126;
  color: white;
}

.burgerMobile {
  display: none;
}

.burger {
  display: none;
}

.about {
  width: calc(100vw - 17rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 2rem;
  align-items: center;
  height: 100vh;
}

.education {
  width: calc(100vw - 17rem);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 2rem;
  align-items: center;
}

.projectContainer {
  margin-left: 1rem;
  width: calc(100vw - 16rem);
  padding-top: 1rem;
}
.experienceContainer {
  width: calc(100vw - 17rem);
  padding-top: 1rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  padding-top: 2rem;
}

.linkHover {
  transition: 0.3s;
}
.linkHover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  color: #0f1126;
  background: #e31b6d;
}

.menuHover {
  transition: 0.3s;
}

.menuHover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
  border-radius: 0.3rem;
  color: #e31b6d;
}

.image {
  width: 18rem;
  height: 12rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.captionTransform {
  opacity: 0;
  text-align: center;
  margin-top: 0.5rem;
  transition: 0.2s;
}

.figure {
  padding: 1rem;
}

.figure:hover .image {
  filter: brightness(50%);
}

.figure:hover .captionTransform {
  opacity: 1;
  transform: translateY(-4rem);
}

.vertical-timeline::before {
  background: #0fa3a3 !important;
}

.vertical-timeline-element-date {
  color: black;
  opacity: 1 !important;
}

.companyLink:hover {
  color: #fff !important;
}

@media only screen and (max-width: 1025px) {
  .componentsHeading {
    margin-top: 0.5rem;
  }
  .sidebar {
    opacity: 0;
  }
  .blurBackground {
    filter: blur(4px);
  }
  .zoomImage {
    display: none;
  }
  .components {
    margin-left: 0;
  }
  .about {
    margin-left: 0;
    padding-left: 1.5rem;
    width: 100vw;
  }
  .about_mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .projectContainer,
  .experienceContainer {
    margin-left: 0;
    width: 100vw;
  }

  .projects {
    padding-top: 0;
  }

  .burger {
    display: none;
  }

  .burgerMobile {
    display: inline;
  }
  .mobileSidebarHide {
    opacity: 0;
    transform: translateX(-15rem);
  }
  .mobileSidebar {
    opacity: 1;
    transform: translateX(0);
    transition: 0.5s;
  }

  .captionTransform {
    opacity: 1;
  }

  .figure:hover .image {
    filter: brightness(100%);
  }

  .figure:hover .captionTransform {
    transform: translateY(0);
  }

  .vertical-timeline-element-date {
    color: #fff;
  }
  .vertical-timeline-element-icon {
    top: 10px !important;
    left: 10px !important;
    width: 20px !important;
    height: 20px !important;
  }
}

@media only screen and (min-height: 250px) and (max-height: 450px) and (min-width: 600px) {
  .about {
    padding-top: 2rem;
    padding-left: 3rem;
  }
  .experienceContainer {
    padding-left: 0.5rem;
  }
}

.dark {
  background: #000000;
  color: #ffffff;
}

.light {
  background: #ffffff;
  color: #000000;
}

.vertical-timeline * {
  color: #ffffff;
}

.dark .vertical-timeline * {
  color: #000000;
}