body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

.sidebar {
  width: 15rem;
  height: 100vh;
  /* border-right: 0.2rem solid black; */
  padding-top: 5rem;
  position: fixed;
  background: #e31b6d;
  color: white;
}

.burgerMobile {
  display: none;
}

.burger {
  display: none;
}

.about {
  width: calc(100vw - 15rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 15rem;
  align-items: center;
  height: 100vh;
}
.linkHover {
  transition: 0.3s;
}
.linkHover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 1025px) {
  .sidebar {
    display: none;
  }
  .blurBackground {
    display: none;
  }
  .zoomImage {
    display: none;
  }
  .about {
    margin-left: 0;
    width: 100vw;
  }
  .burger {
    display: none;
  }

  .burgerMobile {
    display: inline;
  }

  .mobileSidebar {
    display: inline;
  }
}
