.sidebar {
  width: 15rem;
  height: 100vh;
  background: pink;
}

.burgerMobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .burger {
    display: none;
  }

  .burgerMobile {
    display: inline;
  }

  .mobileSidebar {
    display: inline;
  }
}

.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
